#import sickbeard
#from sickbeard.common import *
        <div class="field-pair">
            <label for="statusSelect" class="nocheck clearfix">
                <span class="component-title">
                    <select name="defaultStatus" id="statusSelect">
                    #for $curStatus in [$SKIPPED, $WANTED, $ARCHIVED, $IGNORED]:
                        <option value="$curStatus" #if $sickbeard.STATUS_DEFAULT == $curStatus then 'selected="selected"' else ''#>$statusStrings[$curStatus]</option>
                    #end for
                    </select>
                </span>
                <span class="component-desc">Set the initial status of missing episodes</span>
            </label>
        </div>

        Audio language:
        <p>
            Activate this Checkbox if you're satisfied with this Language. If you leave it empty it download that language but keep looking for the one you're satisfied with
        </p>
        <input type="hidden" name="audioLangs" value="" />
        <ul class="audio-lang-select ui-sortable">
            <li class="audio-language">
                <i class="icon-remove"></i>
                <select>
                #for $k,$v in $audioLanguages.iteritems():
                    <option value="$k">$v</option>
                #end for
                </select>
                <input type="checkbox" value="1"/> 
                <i class="icon-resize-vertical"></i>
            </li>
        </ul>
        <a href="#" class="add-language btn">Add Language</a>

        <script type="text/javascript" src="$sbRoot/js/multiLanguageWidget.js"></script>

        <div class="field-pair alt">
            <input class="cb" type="checkbox" name="flatten_folders" id="flatten_folders" #if $sickbeard.FLATTEN_FOLDERS_DEFAULT then "checked=\"checked\"" else ""# />
            <label for="flatten_folders" class="clearfix">
                <span class="component-title">Flatten Folders</span>
                <span class="component-desc">Disregard sub-folders?</span>
            </label>
        </div>

        #set $qualities = $Quality.splitQuality($sickbeard.QUALITY_DEFAULT)
        #set global $anyQualities = $qualities[0]
        #set global $bestQualities = $qualities[1]
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_qualityChooser.tmpl")

        <div class="field-pair alt">
            <label for="saveDefaultsButton" class="nocheck clearfix">
                <span class="component-title"><input class="btn" type="button" id="saveDefaultsButton" value="Save Defaults" disabled="disabled" /></span>
                <span class="component-desc">Persist current values as the defaults</span>
            </label>
        </div>
